/* CASES */


/* ADD TIP */

.add-tip-function {
    display: none;
}

.add-tip {
    right: 0;
    margin-top: 4rem;
    margin-right: 8rem;
    position: absolute;
    background-color: var(--colorRedMain);
    border: none;
    padding: 0.5rem;
    width: 12%;
    border-radius: 20px;
    color: var(--colorLightMain);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 15px;
    cursor: pointer;
}

.add-tip img {
    width: 60%;
    border-radius: 100%;
}

.add-tip p {
    padding-top: 0.4rem;
    margin-left: -1rem;
    font-weight: bold;
}

.display-tip {
    margin-left: -3rem;
    margin-top: -5em;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 48%;
}

.cancel-tip button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
    cursor: pointer;
}

.display-add-tip {
    background-color: var(--colorDarkSecondary);
    padding: 2rem;
}

.display-add-tip h2 {
    color: var(--colorLightMain);
    font-size: 20px;
    margin-bottom: 2rem;
}

/* TIP UPLOAD */

.tip-upload {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tip-upload input {
    padding: 1rem;
    height: 3vh;
}

.tip-upload textarea {
    margin-top: -2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
}

.tip-upload button {
    background-color: var(--colorDarkSecondary);
    border: 1px solid var(--colorLightMain);
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--colorLightMain);
    cursor: pointer;
}

.tip-upload button:hover {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
}


/* CREATE NEW CASE */

.new-case {
    display: none;
}

.display-new-case {
    margin-left: -3rem;
    margin-top: -8rem;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 55%;
}

.create-case {
    right: 0;
    margin-top: 4rem;
    margin-right: 18rem;
    position: absolute;
    background-color: var(--colorRedMain);
    border: none;
    padding: 0.5rem;
    width: 12%;
    border-radius: 20px;
    color: var(--colorLightMain);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 15px;
    cursor: pointer;
}

.create-case img {
    width: 60%;
    border-radius: 100%;
}

.create-case p {
    padding-top: 0.4rem;
    margin-left: -1rem;
    font-weight: bold;
}

.cancel-case button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
    cursor: pointer;
}

.create-new-case {
    padding: 2rem;
    background-color: var(--colorLightMain);
}

.create-new-case h1 {
    margin-bottom: 2rem;
}

.new-case-description input {
    padding: 1rem;
    height: 3vh;
    width: 90%;
    margin-bottom: 1rem;
}

.case-description {
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 90%;
}

.new-case-description button {
    background-color: var(--colorDarkSecondary);
    border: 1px solid var(--colorLightMain);
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--colorLightMain);
    cursor: pointer;
}

.new-case-description button:hover {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
}


/* VIEW ALL CASES */












