/* CASES */


/* ADD TIP */

.add-tip-function {
    display: none;
}

.add-tip {
    left: 0;
    /* margin-top: 1rem; */
    margin-left: 25rem;
    position: absolute;
    background-color: var(--colorRedMain);
    border: none;
    padding: 0.5rem;
    width: 12%;
    border-radius: 20px;
    color: var(--colorLightMain);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 15px;
    cursor: pointer;
}

.add-tip img {
    width: 60%;
    border-radius: 100%;
}

.add-tip p {
    padding-top: 0.4rem;
    margin-left: -1rem;
    font-weight: bold;
}

.display-tip {
    margin-left: -3rem;
    margin-top: -5em;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 48%;
}

.cancel-tip button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
    cursor: pointer;
}

.display-add-tip {
    background-color: var(--colorDarkSecondary);
    padding: 2rem;
}

.display-add-tip h2 {
    color: var(--colorLightMain);
    font-size: 20px;
    margin-bottom: 2rem;
}

/* TIP UPLOAD */

.tip-upload {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tip-upload input {
    padding: 1rem;
    height: 3vh;
}

.tip-upload textarea {
    margin-top: -2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
}

.tip-upload button {
    background-color: var(--colorDarkSecondary);
    border: 1px solid var(--colorLightMain);
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--colorLightMain);
    cursor: pointer;
}

.tip-upload button:hover {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
}


/* CREATE NEW CASE */

.new-case {
    display: none;
}

.display-new-case {
    margin-left: -3rem;
    margin-top: -8rem;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 55%;
}

.create-case {
    left: 0;
    margin-left: 16rem;
    position: absolute;
    background-color: var(--colorRedMain);
    border: none;
    padding: 0.5rem;
    width: 12%;
    border-radius: 20px;
    color: var(--colorLightMain);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 15px;
    cursor: pointer;
}

.create-case img {
    width: 60%;
    border-radius: 100%;
}

.create-case p {
    padding-top: 0.4rem;
    margin-left: -1rem;
    font-weight: bold;
}

.cancel-case button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
    cursor: pointer;
}

.create-new-case {
    padding: 2rem;
    background-color: var(--colorLightMain);
}

.create-new-case h1 {
    margin-bottom: 2rem;
    font-size: 30px;
}

.new-case-description input {
    padding: 1rem;
    height: 3vh;
    width: 90%;
    margin-bottom: 1rem;
}

.case-description {
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 90%;
}

.new-case-description button {
    background-color: var(--colorDarkSecondary);
    border: 1px solid var(--colorLightMain);
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--colorLightMain);
    cursor: pointer;
}

.new-case-description button:hover {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
}


/* VIEW ALL CASES */

.cases-display {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.each-case {
    background-color: var(--colorLightMain);
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.case-case-description {
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 1rem; */
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.case-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.case-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.case-top-right button {
    padding: 8px;
    border: 2px solid var(--colorRedMain);
    color: var(--colorRedMain);
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.case-top-right button:hover {
    background-color: var(--colorRedMain);
    color: var(--colorLightMain);
}

.case-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.case-left {
    margin-right: 1rem;
}

.case-dets {
    font-weight: bold;
}

.case-tips {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.case-tip {
    border: 2px solid var(--colorLightSecondary);
    border-radius: 10px;
    padding: 10px;
    /* width: 10%; */
}


.case-right {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--colorDarkSecondary);
    text-align: center;
}

.case-right h1 {
    color: var(--colorLightMain);
}

.case-right p {
    color: var(--colorLightSecondary);
    font-size: 13px;
}

.case-right img {
    width: 20%;
    border-radius: 100%;
}


.case-status {
    background-color: var(--colorDarkThirdly);
    padding: 10px;
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 13px;
}

.case-status-label {
    font-weight: bold;
}

.space {
    margin-bottom: 1rem;
}






