/* CASES */


/* ADD TIP */

.add-tip-function {
    display: none;
}

.add-tip {
    margin-left: 20rem;
    position: absolute;
    background-color: var(--colorRedMain);
    border: none;
    padding: 0.5rem;
    width: 11%;
    border-radius: 20px;
    color: var(--colorLightMain);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 15px;
}

.add-tip img {
    width: 60%;
    border-radius: 100%;
}

.add-tip p {
    padding-top: 0.3rem;
    margin-left: -1rem;
    font-weight: bold;
}

.display-tip {
    margin-left: -3rem;
    margin-top: -5em;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 48%;
}

.cancel-tip button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
}

.display-add-tip {
    background-color: var(--colorDarkSecondary);
    padding: 2rem;
}

.display-add-tip h2 {
    color: var(--colorLightMain);
    font-size: 20px;
    margin-bottom: 2rem;
}

/* TIP UPLOAD */

.tip-upload {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tip-upload input {
    padding: 1rem;
    height: 3vh;
}

.tip-upload textarea {
    margin-top: -2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
}

.tip-upload button {
    background-color: var(--colorDarkSecondary);
    border: 1px solid var(--colorLightMain);
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--colorLightMain);
}

.tip-upload button:hover {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
}


/* CREATE NEW CASE */

.new-case {
    display: none;
}

.display-new-case {
    margin-left: -19rem;
    margin-top: -6em;
    z-index: 90000;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 13.5rem;
    width: 50%;
    height: 45%;
}

.create-case button {
    right: 0;
    margin-top: 10rem;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
}

.cancel-case button {
    right: 0;
    margin-right: 15rem;
    border: none;
    padding: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: var(--colorDarkThirdly);
    position: absolute;
    border-radius: 100%;
    color: var(--colorLightMain);
}

.create-new-case {
    padding: 2rem;
    background-color: var(--colorLightMain);
}


/* VIEW ALL CASES */

.case-folder {
    background-color: var(--colorDarkSecondary);
    color: var(--colorDarkMain);
    position: absolute;
    z-index: 2000;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
    padding: 3rem;
    width: 65%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    /* box-shadow: 10px 10px 5px 15px rgb(42, 42, 42); */
}

.case-folder-back {
    background-color: rgb(28, 28, 28);
    color: var(--colorDarkThirdly);
    position: absolute;
    z-index: 1000;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
    padding: 3rem;
    width: 64%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.case-display {
    margin-top: 21rem;
    height: 300%;
    overflow-y: hidden;
}

.case-template {
    width: 110%;
    background-color: var(--colorLightMain);
    color: var(--colorDarkBlack);
    position: relative; /* Change from absolute to relative */
    z-index: 1500;
    margin-bottom: -13rem; /* Adjust margin to separate elements */
    margin-right: 30rem;
    margin-left: 25rem;
    padding-top: 1rem;
    padding-bottom: 10rem;
    padding-left: 1rem;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 5px; /* Optional: to give rounded corners */
}

.view-each-case {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-right: 25rem;
}










