/* VIEW 'ALL' USERS */

.dashboard-content h2 {
    color: var(--colorLightMain);
    margin-bottom: 3rem;
}

.view-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.view-user {
    /* border: 1px solid var(--colorLightMain); */
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--colorDarkSecondary);
    border-radius: 15px;
    color: var(--colorLightMain);
}

.view-user img {
    width: 20%;
    border-radius: 100%;
    border: 2px solid var(--colorLightMain);
    margin-left: 7.5rem;
    margin-bottom: 10px;
}

.user-user-id {
    background-color: var(--colorRedMain);
    color: var(--colorLightMain);
    text-align: center;
    font-size: 13px;
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    border-radius: 15px 15px 0px 0px;
}

.user-user-name {
    color: var(--colorLightMain);
    text-align: center;
}

.user-user-name span {
    font-size: 22px;
}

.user-user-role {
    color: var(--colorLightMain);
    margin-bottom: 2rem;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}