/* VIEW 'ALL' USERS */
.section-header {
    top: 0;
    margin-left: -3rem;
    background-color: var(--colorDarkMain);
    width: 75%;
    z-index: 8000;
    position: fixed;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.dashboard-content h2 {
    color: var(--colorLightMain);
    font-size: 30px;
}

/* SEARCH USER */

.search-data-function {
    right: 0;
    top: 0;
    margin-top: 3rem;
    position: absolute;
    display: grid;
    grid-template-columns: 4fr 1.5fr 1fr;
    width: 50%;
}

.search-data-function input {
    background-color: var(--colorDarkSecondary);
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    border: none;
    color: var(--colorLightMain);
}

.search-data-function button {
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--colorDarkMain);
    border: 1px solid var(--colorLightMain);
    color: var(--colorLightMain);
    cursor: pointer;
}

.search-data-function button:hover {
    background-color: var(--colorRedMain);
    color: var(--colorLightMain);
    font-weight: bold;
    border: none;
}

.reset-users button {
    background-color: var(--colorRedMain);
    border: 1px solid var(--colorRedMain);
    /* padding-top: 0.1rem; */
    padding-bottom: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
    font-size: 30px;
    cursor: pointer;
}

.reset-users button:hover {
    background-color: var(--colorRedSecondary);
    border: 1px solid var(--colorRedSecondary);
}


/* EACH USER */

.view-users {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.view-user {
    /* border: 1px solid var(--colorLightMain); */
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--colorDarkSecondary);
    border-radius: 15px;
    color: var(--colorLightMain);
}

.view-user-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.blocked-button button {
    background-color: var(--colorDarkSecondary);
    color: var(--colorLightMain);
    border: 1px solid var(--colorLightMain);
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.blocked-button button:hover {
    border: 1px solid var(--colorDarkThirdly);
    background-color: var(--colorDarkThirdly);
    color: var(--colorDarkBlack);
    font-weight: bold;
}

.delete-button button {
    background-color: var(--colorDarkSecondary);
    color: var(--colorDarkBlack);
    border: 1px solid var(--colorDarkBlack);
    border-radius: 5px;
    padding: 0.7rem;
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.delete-button button:hover {
    border: 1px solid var(--colorRedMain);
    background-color: var(--colorRedMain);
    color: var(--colorLightMain);
    font-weight: bold;
}

.view-user img {
    width: 20%;
    border-radius: 100%;
    border: 2px solid var(--colorLightMain);
    margin-left: 5.5rem;
    margin-bottom: 10px;
}

.user-user-id {
    background-color: var(--colorRedSecondary);
    color: var(--colorLightMain);
    text-align: center;
    font-size: 13px;
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    border-radius: 15px 15px 0px 0px;
}

.user-user-name {
    color: var(--colorLightMain);
    text-align: center;
}

.user-user-name span {
    font-size: 22px;
}

.user-user-role {
    color: var(--colorLightMain);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--colorDarkThirdly);
}

.user-user-email {
    background-color: var(--colorDarkThirdly);
    margin-bottom: 2rem;
    color: var(--colorDarkMain);
    border-radius: 5px;
    text-align: center;
    padding: 0.2rem;
    font-style: italic;
}

.info-header {
    font-weight: bold;
    font-size: 18px;
    color: var(--colorLightMain);
}

.user-info {
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 13px;
    margin-bottom: 1rem;
    color: var(--colorDarkThirdly);
}

.info-label {
    font-weight: bold;
}